# Gridfinity backend - allows the service user to run nmcli without password.
# %s is substituted with the actual service user at install time.
#
# nmcli itself is the security boundary - it can only manage NetworkManager,
# not edit system files or escalate further.

%s ALL=(ALL) NOPASSWD: /usr/bin/nmcli